@model List<WindesheimWebshop.Models.Categorie>

<nav class="navbar navbar-default navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            @foreach (var item in Model) {
                <li>
                    <a href="/Categorie/@item.ID">@item.Naam</a>
                </li>
            }
            <li>
                <a href="/Winkelmand">Mijn winkelmandje</a>
            </li>
        </ul>
    </div>
</nav>